html, body {
  	height: 100%;
  	width: 100%;
  	padding: 0;
  	margin: 0;
	
}

#full-screen-background-image {
  z-index: -999;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

#wrapper {
	left: 25%;
	top: 30%;
	height: 25%;
  	position: relative;
  	width: 50%;
  	min-height: 400px;
  	
	
}
#FirstTxt {
	/*
	text-shadow: 0 2px #000000;
	background-color: #fff;
	*/
	font-family: 'Trebuchet MS', 'Helvetica';
  	text-align: center;
	font-size: 80px;
  	color: #fff;
	
}

#SecondTxt {
	
	font-family: 'Trebuchet MS', 'Helvetica';
  	text-align: center;
	font-size: 30px;
  	color: #fff;	
	padding: -100px;
	padding: -100;
}








